<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LearnBlazor.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>

    <Routes @rendermode="InteractiveServer" />


    <script src="_framework/blazor.web.js"></script>
    <script>
        function splashVideo() {
             const video = document.getElementById("splashVideo");
              if (video) {
              const playPromise = video.play();
              if (playPromise !== undefined) {
                  playPromise
                      .then(() => console.log("Video started"))
                      .catch(error => console.warn("Play blocked:", error));
              }
          }
         }
    </script>

</body>

</html>
